body {
   background-size: cover;
    background-image: url(https://images2.alphacoders.com/110/1103754.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
}
.App {
   text-align: center;
}